@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
   margin: 0;
   padding: 0;
}

html{
    
    background-color: #F2E1CC;
    width: 100%;
    height: 100vh;
    font-size: 16px; 
    }



header{
    background-color:#BF827B;
    width: 100%;
    /* height: 4rem; */
}


footer{
    background-color: #BF827B; 
    text-align: center;
    
    
}



/* Ya no lo ocupo ya que ahora implemento boostrap
    ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
a{
    text-decoration: none;

}
@media screen and (min-width: 320px) and (max-width: 767px) {

    ol li ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .wrapper{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    
       
       }
       
       .wrapper iframe {
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;
       }
    .container{
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    aside div{
        border: 5px solid black;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        background-image: radial-gradient(circle, #003366, #00cc66);
        color: black;
    }
    h1{
    
        font-family: "PT Serif", serif;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        color:#BF827B; 
        text-align: center;
    
    }
    div ul{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        font-size: 1.125rem;
       
    }
    p{
        margin: 0;
        text-align: justify;
        font-family: "PT Serif", serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    strong{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-family: "PT Serif", serif;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }

   
    section{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        padding: 1rem;
        
    }
    section img{
       
        width: 91vw;
    }
    .principal {
        
        padding: 0rem;
        margin: 0rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        background-image: url(../assets/learneng320x87.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        height: 40vh;
       
    }
    .parallax1{
        background-image: url("../assets/contact-us-4193637_1280.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        height: 40vh;
      
    
    }
    .principalStories{
        background-image: url("../assets/child-learning-english-stories320x215.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 30vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionStoriesArticle{
       padding-top: 1rem;
       padding-bottom: 1rem;
    }
   
    .fomrContUs-container{

        padding-top: 1 rem;
        margin-top: 3 rem;
        border: 2px solid black;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    form label{
        font-size: 1.245rem;
    }
    h1 strong{
        padding: 1rem;
    }
    .mainSection{
        padding: 0.625rem;
       
    }
  
    .grammarMain{

        background-image: url("../assets/grammarA.jpg");
        background-attachment: scroll;
        height: 40vh;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main h1{
        color: black;
        text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; /* Sombra para crear el borde */
        }
    footer{
        /* font-size: 9rem!important; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #BF827B; 
        text-align: center;
        height: 30vh;

    }
    footer p {
        font-size: 1.5rem;
    }
    footer nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    nav svg{
        width: 40px !important;
        height: 40px !important;
        margin: 1rem;
    }
    .fomrContUs-container{
        padding: 3 rem;
        margin: 3 rem;
        border: 2px solid black;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    
    }
    form{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    form label{
        font-size: 1rem;
    }
    .form-test-PS{
        border: 0.1rem solid blue;
        background-color: aqua;
        
        padding: 0.5rem;
        margin: 1rem;
    }
    .form-test-PAS{
        border: 0.1rem solid blue;
        background-color: aquamarine;
        padding: 0.5rem;
        margin: 1rem;
    }
   
}
  
@media screen and (min-width: 768px) and (max-width: 1023px){
    
    ol{
        font-size: 1rem;
        color: #003366;
    }
    ol li ul{
     
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: black;
    }
    .wrapper{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    
       
       }
       
       .wrapper iframe {
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;
       }
    .container{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        
      
    }
    aside div{
        border: 5px solid black;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        background-image: radial-gradient(circle, #003366, #ff6600);
        color: black;
    }
    h1{
        font-family: "PT Serif", serif;
        font-size: 4rem;
        font-weight: 700;
        font-style: italic;
        text-align: center;

    }
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.5rem;
        color:#BF827B; 
        text-align: center;
    }
    p{
        margin: 0;
        padding: 1rem;
        text-align: justify;
        font-family: "PT Serif", serif;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
    }
    .principalStories{
        background-image: url("../assets/child-learning-english-stories768x517.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionStoriesArticle{
       padding-top: 1rem;
       padding-bottom: 1rem;
    }
    .principal {
        
        padding: 0rem;
        margin: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        background-image: url(../assets/learneng768x209.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        height: 40vh;
       
    }
    .principal-element{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 1rem; 
    }
    .wrapper-tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section div{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .first-element{
        order: -1;       
    }

    section img{
        width: 90vw;
        padding-left: 6rem;
     

    }

    footer{
        /* font-size: 9rem!important; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #BF827B; 
        text-align: center;
        height: 50vh;

    }
    footer p {
        font-size: 2.125rem;
    }
    footer nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    } 
    nav svg{
        width: 40px !important;
        height: 40px !important;
        margin: 1rem;
    }
    div ul{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        font-size: 1.300rem;
       
    }
    .articleGrammar{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .parallax1{
        background-image: url("../assets/contact-us768x440.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        height: 70vh;
      
    
    }
    .mainContUs{
        padding: 2rem;
        margin: 2rem;
        border-color: blue;
    }
    .fomrContUs-container{
        padding: 3 rem;
        margin: 3 rem;
        border: 2px solid black;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    
    }
    form{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    form label{
        font-size: 1rem;
    }
    .form-test-PS{
        border: 0.1rem solid blue;
        background-color: aqua;
        
        padding: 0.5rem;
        margin: 1rem;
    }
    .form-test-PAS{
        border: 0.1rem solid blue;
        background-color: aquamarine;
        padding: 0.5rem;
        margin: 1rem;
    }
    .grammarMain{

        background-image: url("../assets/grammarA.jpg");
        background-attachment: scroll;
        height: 70vh;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main h1{
        color: black;
        text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; /* Sombra para crear el borde */
        }
        
   
  
}  


@media screen and (min-width: 1024px){

    .container{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        
      
    }
    aside div{
        border: 5px solid black;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        background-image: radial-gradient(circle, #003366, #ffff00);
        color: black;

    }
    aside div:hover{
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8) !important;
    }
    aside p{
        padding-left: 1rem;
        padding-top: 1rem;
    }
    nav{
        width: 100vw;
        height: 10vh;
    }
    li a:hover{
        color: blue!important;
        font-size: 1.125rem;
        text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; /* Sombra para crear el borde */
   }
    h1{
    
        font-family: "PT Serif", serif;
        font-size: 6rem;
        font-weight: 700;
        font-style: italic;
        text-align: center
    }
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:#BF827B; 
        text-align: center;
    
    }
    p{
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    section{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        padding: 1rem;
        
    }
    section article{
        padding:1rem;
        margin:1rem;
    }
    header nav ul{
        width: 100%;
        display: flex;
    
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        list-style-type: none;
    
    }
    .parallax1{
        background-image: url("../assets/contact-us-4193637_1280.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 70vh;
    
    }
    .principal{
        background-image: url(../assets/learneng1024x279.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;
       
    }
    .mainContUs{
        padding: 2rem;
        margin: 2rem;
        border-color: blue;
    }
    .fomrContUs-container{
        padding: 3 rem;
        margin: 3 rem;
        border: 2px solid black;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    
    }
    form{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    form label{
        font-size: 1rem;
    }
    .form-test-PS{
        border: 0.1rem solid blue;
        background-color: aqua;
        
        padding: 0.5rem;
        margin: 1rem;
    }
    .form-test-PAS{
        border: 0.1rem solid blue;
        background-color: aquamarine;
        padding: 0.5rem;
        margin: 1rem;
    }
   
    .grammarMain{
        background-image: url("../assets/grammarA.jpg");
        background-attachment: scroll;
        height: 70vh;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .mainSection{
        /* padding: 2rem; */
        /* border: 2rem solid rgb(191, 130, 123); */

        display: flex;
        flex-direction:column;
        justify-content: space-around;
         
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "item" ""; */
        
    
    }
    .mainsection-items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        
        /* grid-area: item1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; */

    }
    main img{
        width: 40vw;
    }
  
    .orden{
        order:1;
    }
    .articleGrammar{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        /* border: 2rem solid rgb(191, 130, 123); */
    }
    .divGrammar{

        /* margin: 2rem;
        padding: 2rem; */

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: 40vh;
        /* overflow: scroll; */

               
    }
    .div-text{
        height: 100%;
        overflow: scroll;
    }
 
   
    
    .principalStories{
        background-image: url("../assets/child-learning-english-stories.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 70vh;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionStories{
       
/*     
        margin: 2rem;
        padding: 2rem; */
        border: 2rem solid rgb(191, 130, 123);
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .sectionStoriesArticle{
        /* display:flex;
        flex-direction:row;
        align-items: flex-start; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 60vh;
        
    }
    .scrolear-storie{
        height: 30vh;
        overflow: auto;
    }
    article img{
        width: 40vw;
        height: auto;        
    }
    .div-stories{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .div-stories h3{
        padding-left: 1rem;
    }

    footer{
        /* font-size: 9rem!important; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: #BF827B; 
        text-align: center;
        height: 50vh;
        font-size: 2.5rem;

    }
    /* footer p {
        font-size: 2.5rem;
    } */
    footer nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    nav svg{
        width: 30px !important;
        height: 30px !important;
        margin: 1rem;
    }

}